### Agenda
- Python Revision
- Numpy Library - Arrays
- Matplotlib  - Visualization
- Pandas - Dataframe
- Seaborn and pandas
- plotly library + dash(framework using flask)

Tools - 

- python + jupyter notebook
- Python + vscode

## Python Revision

#### Python Data Types
<table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; text-align: left;">
  <tr style="background-color: #050A30; color: white;">
        <th style="border: 1px solid #ccc; padding: 8px;">Category</th>
        <th style="border: 1px solid #ccc; padding: 8px;">Data Type</th>
        <th style="border: 1px solid #ccc; padding: 8px;">Description</th>
        <th style="border: 1px solid #ccc; padding: 8px;">Examples</th>
    </tr>
    <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">Numeric</td>
        <td style="border: 1px solid #ccc; padding: 8px;">int</td>
        <td style="border: 1px solid #ccc; padding: 8px;">Integer, represents whole numbers</td>
        <td style="border: 1px solid #ccc; padding: 8px;">5, -12, 0</td>
    </tr>
    <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">Numeric</td>
        <td style="border: 1px solid #ccc; padding: 8px;">float</td>
        <td style="border: 1px solid #ccc; padding: 8px;">Floating-point, represents real numbers with a decimal</td>
        <td style="border: 1px solid #ccc; padding: 8px;">5.5, -3.14, 0.0</td>
    </tr>
    <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">Numeric</td>
        <td style="border: 1px solid #ccc; padding: 8px;">complex</td>
        <td style="border: 1px solid #ccc; padding: 8px;">Complex number, has real and imaginary parts</td>
        <td style="border: 1px solid #ccc; padding: 8px;">3+5j, -2j</td>
    </tr>
    <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">Sequence</td>
        <td style="border: 1px solid #ccc; padding: 8px;">str</td>
        <td style="border: 1px solid #ccc; padding: 8px;">String, a sequence of Unicode characters</td>
        <td style="border: 1px solid #ccc; padding: 8px;">"hello", 'world'</td>
    </tr>   
    <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">Boolean</td>
        <td style="border: 1px solid #ccc; padding: 8px;">bool</td>
        <td style="border: 1px solid #ccc; padding: 8px;">Represents True or False values</td>
        <td style="border: 1px solid #ccc; padding: 8px;">True, False</td>
    </tr>
    <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">None Type</td>
        <td style="border: 1px solid #ccc; padding: 8px;">NoneType</td>
        <td style="border: 1px solid #ccc; padding: 8px;">Represents the absence of a value or a null value</td>
        <td style="border: 1px solid #ccc; padding: 8px;">None</td>
    </tr>
</table>

#### Python Containers
   
<table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; text-align: center;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="border: 1px solid #ccc; padding: 8px;">Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Container Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Sequence Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Element Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Enclosed in</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Immutability</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Duplicates</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">str()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">characters</td>
      <td style="border: 1px solid #ccc; padding: 8px;">"" or ''</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">tuple()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">list()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">[]</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">set()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">heterogeneous (immutable objects)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">dict()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - immutable<br>Value - any type</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - No<br>Value - Yes</td>
    </tr>

###### Ex. Working on currency values

WAP to convert the given sales value to int. profit = ($1,200)

In [10]:
profit = "($1200)"
# using replace()
var = profit.replace("$", "").replace("(", "-").replace(")", "")
int(var)

-1200

In [15]:
profit = "($1,200)"
# using maketrans() and translate() 
trans_obj = str.maketrans("(", "-", "$),")  # replace ( with - and remove extra characters like - $),
profit.translate(trans_obj)

'-1200'

In [11]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

###### Ex. Calculate percentage of marks of a students in the list -

In [16]:
marks = [70, 60, 85, 90, 40]
total_marks = sum(marks)
(total_marks/500) * 100

69.0

###### Ex. Calculate Gross pay of a worker by taking total hrs and rate as input from user

In [18]:
hrs = int(input("Enter hrs - "))
rate = int(input("Enter rate per hr - "))
gross_pay = hrs * rate
print(gross_pay)

Enter hrs -  40
Enter rate per hr -  1000

40000

In [20]:
tup = (1, 2, 3, 4, 5)
for i in tup :
    print(i, " - ", i**2)

1  -  1
2  -  4
3  -  9
4  -  16
5  -  25

###### Ex. Store the square of numbers in list

In [22]:
tup = (1, 2, 3, 4, 5)
squares_list = []   # empty list 
for i in tup:   # using for-loop we will all square of each number to the list
     squares_list.append(i**2)
squares_list

[1, 4, 9, 16, 25]

In [23]:
# Comprehension syntax for above example - 
[i**2 for i in tup ]

[1, 4, 9, 16, 25]

`[<expression> for i in <sequence> if <condtion (optional)>]`

###### Ex. Apply 7% service charge to all the sales values in the given tuple

In [28]:
sales = ("290", "300", "800", "500")
[int(i) * 1.07 for i in sales]

[310.3, 321.0, 856.0, 535.0]

###### Ex. Sort the folowing list of words based on number of characters in each word

In [29]:
words = ["flight", "car", "bike", "train"]
sorted(words)  # Sorts alphabetically in ASC order

['bike', 'car', 'flight', 'train']

In [30]:
words = ["flight", "car", "bike", "train"]
sorted(words, reverse=True)  # Sorts alphabetically in DESC order

['train', 'flight', 'car', 'bike']

In [48]:
sorted(words, key = len, reverse=True)

['flight', 'train', 'bike', 'car']

In [34]:
marks = [(15, 12, 16), (12, 14, 13), (15, 12, 8)]
sorted(marks)

[(12, 14, 13), (15, 12, 8), (15, 12, 16)]

In [35]:
marks = [(15, 12, 16), (12, 14, 13), (15, 12, 8)]
sorted(marks, key = sum)

[(15, 12, 8), (12, 14, 13), (15, 12, 16)]

###### Ex. Extract all digits from a string entered by user and store them in a list

In [40]:
string = input("Enter a string - ")
[int(i) for i in string if i.isdigit()]

Enter a string -  abcsd1234

[1, 2, 3, 4]

###### Ex. Convert the following list of numbers to its square roots

In [43]:
numbers = [1, 4, 9, 16, 25]
[i**0.5 for i in numbers]

[1.0, 2.0, 3.0, 4.0, 5.0]

In [44]:
import math
numbers = [1, 4, 9, 16, 25]
[math.sqrt(i) for i in numbers]

[1.0, 2.0, 3.0, 4.0, 5.0]

###### Ex. Sort the dict based on salaries

In [ ]:
emp = {"Jane" : 50000, "George" : 40000, "Jack" : 45000, "Rosie" : 25000}

### Functions in Python

In [45]:
# Function definetion
def addition(num1, num2) :
    total = num1 + num2
    return total

In [47]:
# function call
addition(2, 5)

7

### Function Arguments

1. Required Positional Argument
2. Default Argument
3. Variable Length Argument
4. Key-word Argument
5. Variable Length Key-word Argument

In [53]:
def demo(name, age) :
    if type(name) == str and type(age) == int:
        print(f"Name - {name} | Age - {age}")
    else:
        print("Invalid")


demo("Jane", 30)
demo(30, "Jane")
demo("Jane")

Name - Jane | Age - 30
Invalid

TypeError: demo() missing 1 required positional argument: 'age'

In [56]:
def demo(name, age = 25) :
    print(f"Name - {name} | Age - {age}")

demo("Jane", 30)
demo("Jane")
demo(30, "Jane")

Name - Jane | Age - 30
Name - Jane | Age - 25
Name - 30 | Age - Jane

In [55]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [57]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /) unbound builtins.str method
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [70]:
string = "mississippi"
string.replace("i", "*", 2)

'm*ss*ssippi'

In [60]:
def demo(name, *args, age = 25) :
    print(f"Name - {name} | Age - {age} | Marks - {args}")

demo("Jane", 60, 70, 80, 90, 18)

Name - Jane | Age - 25 | Marks - (60, 70, 80, 90, 18)

In [61]:
demo("Jane", 60, 70, 80, 90, age = 18)  # key-word Argument

Name - Jane | Age - 18 | Marks - (60, 70, 80, 90)

In [ ]:
def demo(name, *args, age = 25) :
    print(f"Name - {name} | Age - {age} | Marks - {args}")

demo("Jane", 60, 70, 80, 90, 18)

In [62]:
def demo(name, *args, age = 25, **kwargs) :
    print(f"Name - {name} | Age - {age} | Marks - {args} | Other Values - {kwargs}")

demo("Jane", 60, 70, 80, 90, age = 18, mob = 987654321, gender = "F")

Name - Jane | Age - 18 | Marks - (60, 70, 80, 90) | Other Values - {'mob': 987654321, 'gender': 'F'}

#### Significance of `/` and `*` in function definition

- **`/`** - All arguments before `/` must be positional only
- **`*`** - All arguments after `*` must be key-word only

In [65]:
def demo(name, age = 18) :
    print(f"Name - {name} | Age - {age}")

demo("Jane", 25)  # positional argument
demo("Jane")
demo(age = 30, name = "Jane")  # key-word argument

Name - Jane | Age - 25
Name - Jane | Age - 18
Name - Jane | Age - 30

In [68]:
def demo(name, /, age = 18) :
    print(f"Name - {name} | Age - {age}")

demo("Jane", 25)
demo("Jane", age = 25)
demo(age = 30, name = "Jane") # Error - name must be passed as position only

Name - Jane | Age - 25
Name - Jane | Age - 25

TypeError: demo() got some positional-only arguments passed as keyword arguments: 'name'

In [72]:
def demo(name, *, age = 18) :
    print(f"Name - {name} | Age - {age}")

demo("Jane", age = 25)
demo(age = 30, name = "Jane") 
demo("Jane", 25)   # Error - age must be passed as key-word

Name - Jane | Age - 25
Name - Jane | Age - 30

TypeError: demo() takes 1 positional argument but 2 were given

### Applications of packing and unpacking of tuples

In [73]:
tup = 1, 2, 3  # Packing of tuples
tup

(1, 2, 3)

In [74]:
a, b, c = tup  # unpacking of tuples

In [75]:
b

2

#### Defining multiple variables in a single line -

In [76]:
name, age = "Jane", 30
name

'Jane'

#### Applying the concept wrt function call

In [77]:
def demo(*args):
    print(args)

demo(1, 2, 3, 4, 5)  # packing of tuples

(1, 2, 3, 4, 5)

In [79]:
def demo(name, age, gender):
    print(f"Name - {name} | Age - {age} | Gender - {gender}")

data = ["Jane", 30, "F"]
demo(*data)  # unpacking

Name - Jane | Age - 30 | Gender - F

<hr><hr>

## Basics of NumPy
- NumPy - Introduction and Installation
- NumPy - Arrays Data Structure ( 1D, 2D, ND arrays)
- Creating Arrays
- NumPy - Data Types
- Array Attributes
- Creating Arrays – Alternative Ways
- Sub-setting, Slicing and Indexing Arrays
- Operations on Arrays
- Array Manipulation

#### NumPy – Introduction and Installation

- NumPy stands for ‘Numeric Python’
- Used for mathematical and scientific computations
- NumPy array is the most widely used object of the NumPy library

#### Installing numpy

In [ ]:
pip install numpy
pip install pandas
pip install matplotlib
pip install seaborn

#### Importing numpy

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Arrays Data Structure

An `Array` is combination of homogenous data objects and can be indexed across multiple dimensions

#### Arrays are –
- ordered sequence/collection of Homogenous data
- multidimensional
- mutable

#### Creating Arrays – From list/tuple

- `np.array()` is used to create a numpy array from a list

#### Example on 1-D Array

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
arr

#### Example on 2-D Array

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
arr

### Array Attributes

- Attributes are the features/characteristics of an object that describes the object

- Some of the attributes of the numpy array are:
    - **shape** - Array dimensions
    - **size** - Number of array elements
    - **dtype** - Data type of array elements
    - **ndim** - Number of array dimensions
    - **dtype.name** - Name of data type
    - **astype** - Convert an array to a different type

In [ ]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
arr

In [ ]:
arr.shape  # - (row, cols)

In [ ]:
arr.size

In [ ]:
arr.ndim

In [ ]:
arr.dtype

In [ ]:
arr.astype(float)

### Indexing, Slicing and Boolen Indexing

In [ ]:
arr = np.random.randint(5, 50, size = 10)
arr

#### 1-D Arrays

###### Ex. Extract first 3 elements

In [ ]:
arr[0:3]

###### Ex. Extract last 5 elements

In [ ]:
arr[-5 : ]

###### Ex. Extract element at position 2

In [ ]:
arr[2]  # indexing

###### Ex. Extract elements at index position 2, 5, 9.

###### Ex. Extract elements less than 20

### 2-D Arrays

In [ ]:
arr = np.random.randint(5, 50, size = (6,4))
arr

###### Ex. Extract first 3 rows

In [ ]:
arr[0:3]

###### Ex. Extract last 2 rows

In [ ]:
arr[-2 :]

###### Ex. Extract column at index 1

In [ ]:
arr[ : , 1]  # returns 1D array

###### Ex. Extract row 2 and 3 and column 2 and 3 (index-wise)

In [ ]:
arr[2:4, 2:4]

###### Ex. Extract values less than 25

###### Ex. Identify largest value. Extract values less than half of largest values

### Array Operations

#### Arithmetic operations on Arrays -
 - Addition, Substraction, Multiplication, Division, etc.
 - Operations on array and a scalar value
 - Operations between two arrays
 - Matrix Operations - Multiplication(np.dot()), Transpose(np.transpose())

#### Array and Scalar

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr1 + 5 # Addition

In [ ]:
arr1 - 5 # Substraction

In [ ]:
arr1 * 5 # Multiplication

In [ ]:
arr1 / 5 # Division

In [ ]:
arr1 // 5 # Floor Division

In [ ]:
arr1 % 5 # Modulus

#### Two Arrays

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr2 = np.random.randint(1,10,size = 5)
arr2

In [ ]:
arr1 + arr2 # Addition

In [ ]:
arr1 - arr2 # Substraction

In [ ]:
arr1 * arr2 # Multiplication

In [ ]:
arr1 / arr2 # Division

In [ ]:
arr1 // arr2 # Floor Division

In [ ]:
arr1 % arr2 # Modulus

#### Relational operations on Arrays -
 - ==, !=, <, >, <=, >=
 - Operations on array and a scalar value
 - Operations between two arrays

#### Array and Scalar

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr1 == 5

In [ ]:
arr1 != 5

In [ ]:
arr1 < 5

In [ ]:
arr1 > 5

In [ ]:
arr1 <= 5

In [ ]:
arr1 >= 5

#### Two Arrays

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr2 = np.random.randint(1,10,size = 5)
arr2

In [ ]:
arr1 == arr2

In [ ]:
arr1 != arr2

In [ ]:
arr1 < arr2

In [ ]:
arr1 > arr2

In [ ]:
arr1 <= arr2

In [ ]:
arr1 >= arr2

#### Logical operations on Arrays -
 - np.logical_or()
 - np.logical_and()
 - np.logical_not()
 - np.logical_xor()

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr2 = np.random.randint(1,10,size = 5)
arr2

In [ ]:
np.logical_and(arr1 > 5, arr2 > 5)

In [ ]:
np.logical_or(arr1 > 5, arr2 > 5)

In [ ]:
np.logical_not(arr1 > 5)

In [ ]:
np.logical_xor(arr1 > 5, arr2 > 5)

#### Set Operations on Arrays

Applicable to 1-D Ararys only

- np.unique() - Find the unique elements of an array.
- np.in1d() - Test whether each element of a 1-D array is also present in a second array.
- np.intersect1d() - Find the intersection of two arrays.
- np.setdiff1d() - Find the set difference of two arrays.
- np.union1d() - Find the union of two arrays.

In [ ]:
arr1 = np.random.randint(1, 10, size = 10)
arr1

In [ ]:
np.unique(arr1)

In [ ]:
np.unique(arr1, return_index= True, return_counts=True)

In [ ]:
arr2 = np.random.randint(1, 5, size = 10)
arr2

In [ ]:
np.in1d(arr1, arr2)  # depricated in 3.12 onwards

In [ ]:
np.isin(arr1, arr2)  # alternate for in1d()

In [ ]:
np.union1d(arr1, arr2)

In [ ]:
np.intersect1d(arr1, arr2)

### Array Functions/Methods

- np.all(), np.any()
- arr.sum()
- arr.min(), arr.max(), arr.argmin(), arr.agrmax()
- np.round()
- np.mean(), np.median(), np.average(), np.percentile()

### Array Manipulations

- **Changing Shape** – np.reshape()
- **Adding/Removing Elements** – np.append(), np.insert(), np.delete()
- **Splitting Arrays** – np.hsplit(), np.vsplit(), arr_obj.flatten()
- **Sorting Arrays** - arr_obj.sort(), arr_obj.argsort()

In [ ]:
arr = np.arange(1, 13)
arr

#### np.reshape()

In [ ]:
arr = np.reshape(arr, (4, 3))
arr

#### np.append()

In [ ]:
np.append(arr, [10,20,30, 50, 40, 60]) # Flattens the array

In [ ]:
np.append(arr, np.reshape(np.array([13, 14, 15]), (1, 3)), axis = 0) # axis = 0 denotes row-wise

In [ ]:
np.append(arr, np.reshape(np.array([10, 20, 30, 40]), (4, 1)), axis = 1) # axis = 1 denotes col-wise

#### np.insert()

In [ ]:
arr = np.reshape(np.arange(1,13), (4,3))
arr

In [ ]:
np.insert(arr, 1, 5) # Flattens the arr and inserts 5 at index 1

In [ ]:
np.insert(arr, 1, 5, axis=0) # Inserts [5, 5, 5] as row 1

In [ ]:
np.insert(arr, 1, 5, axis=1) # Inserts [5, 5, 5, 5] as column 1

In [ ]:
np.insert(arr, 1, [10, 20, 30, 40], axis=1)

In [ ]:
np.insert(arr, 1, [10, 20, 30], axis=0)

#### np.delete()

In [ ]:
arr = np.reshape(np.arange(1,13), (4,3))
arr

In [ ]:
np.delete(arr, 1) # Flattens the arr and deletes element at index 1

In [ ]:
np.delete(arr, 1, axis=0) # deletes row 1

In [ ]:
np.delete(arr, 1, axis=1) # deletes column 1

In [ ]:
np.delete(arr,[0,2], axis=0) # deletes selected rows

In [ ]:
np.delete(arr,[0,2], axis=1) # deletes selected columns

#### np.hsplit(), np.vsplit()

In [ ]:
arr = np.reshape(np.arange(1, 25), (6,4))
arr

In [ ]:
np.vsplit(arr, 2)

In [ ]:
np.hsplit(arr, 2)

#### flatten()

In [ ]:
arr

In [ ]:
arr.flatten() # returns a 1-D array

In [ ]:
arr.flatten(order = "F") # returns a 1-D array

In [ ]:
help(arr.flatten)

#### np.sort()

#### Examples on Coffee Shop Data Set

In [ ]:
import numpy as np
products = np.array(['Caffe Latte', 'Cappuccino', 'Colombian', 'Darjeeling', 'Decaf Irish Cream', 'Earl Grey', 'Green Tea', 'Lemon', 'Mint', 'Regular Espresso'])
sales = np.array([52248.0, 14068.0, 71060.0, 60014.0, 69925.0, 27711.0, 19231.0, 24873.0, 32825.0, 44109.0])
profits = np.array([17444.0, 5041.0, 28390.0, 20459.0, 23432.0, 7691.0, -2954.0, 7159.0, 10722.0, 14902.0])
target_profits = np.array([15934.0, 4924.0, 31814.0, 19649.0, 24934.0, 8461.0, 7090.0, 7084.0, 10135.0, 16306.0])
target_sales = np.array([48909.0, 13070.0, 80916.0, 57368.0, 66906.0, 30402.0, 18212.0, 21628.0, 27336.0, 42102.0])

###### Ex. How many products are there in the dataset?

###### Ex.  Sales greater than 50,000

###### Ex.  Identify Losses

###### Ex.  Products in loss

###### Ex.  Product with maximum Sales

###### Ex. Identify the products meeting the Target Profits

###### Ex. Are the above products meeting their sales target too?

###### Ex. Identify products which are not achieving their profit target. Calculate their target status in percentage. Display the products in DESC order of their percentage status

<hr><hr>

# Data visualization (Basics)

- Representation of the data in a pictorial or graphical format
- Allow us to get the intuitive understanding of the data
- Helps to visualize the patterns in the data
- Python offers multiple great graphing libraries that come packed with lots of different features.
- Matplotlib: low level, provides lots of freedom
- Pandas Visualization: easy to use interface, built on Matplotlib
- Seaborn: high-level interface, great default styles
- Plotly: can create interactive plots
- Bokeh: used creating interactive visualizations for modern web browsers"

### Primary Objects of matplotlib
<img src = "./images/figure.png" align = left width = 300>
<br><br><br><br><br><br><br><br>

- The [figure] is the overall figure space that can contain one or more plots
- The [axes] is the individual plots that are rendered within the figure

### Anatomy of a figure

<img src = "./images/figure_anatomy.jpg" align = left width = 400>

### Using matplotlib.pyplot library to plot a chart

#### Installing library -

!pip install matplotlib

#### Importing library -

In [1]:
import matplotlib.pyplot as plt

###### Ex. Construct a line chart displaying the daily closing values of Sensex and Nifty throughout the days in September.

In [ ]:
import numpy as np
dates = np.arange('2024-09-01', '2024-10-01', dtype='datetime64[D]')
sensex = np.random.randint(79000, 82000, size = 30)
nifty = np.random.randint(23000, 25000, size = 30)

#### Creating a subplot

### Additional chart types

In [2]:
import numpy as np
products = np.array(['Caffe Latte', 'Cappuccino', 'Colombian', 'Darjeeling', 'Decaf Irish Cream', 'Earl Grey', 'Green Tea', 'Lemon', 'Mint', 'Regular Espresso'])
sales = np.array([52248.0, 14068.0, 71060.0, 60014.0, 69925.0, 27711.0, 19231.0, 24873.0, 32825.0, 44109.0])
profits = np.array([17444.0, 5041.0, 28390.0, 20459.0, 23432.0, 7691.0, -2954.0, 7159.0, 10722.0, 14902.0])
target_profits = np.array([15934.0, 4924.0, 31814.0, 19649.0, 24934.0, 8461.0, 7090.0, 7084.0, 10135.0, 16306.0])
target_sales = np.array([48909.0, 13070.0, 80916.0, 57368.0, 66906.0, 30402.0, 18212.0, 21628.0, 27336.0, 42102.0])

#### Bar chart

###### Ex. Create a bar chart displaying sales for different products. Incorporate the following elements into the chart:

1. Add a title, grid lines, and an average line.
2. Adjust the y-axis ticks to display in thousands.
3. Include annotations for each bar, showing values in thousands.
4. Sort the bars in descending order of sales

#### Stacked bar chart

###### Ex. Include profits in the above chart as a stacked bar chart

#### Side by Side Bar Chart

###### Ex. Convert the stacked bar chart into side by side bar chart. Add following changes to the chart - 
1. Adjust the annotations co-ordinates
2. Change color of negative profits to red

#### Bullet chart

###### Ex. Design a bullet chart to illustrate profit target status. Ensure the chart includes the following components:

1. Utilize a horizontal bar chart format.
2. Represent profit values with bars, and indicate targets with a vertical line.
3. Adjust the x-axis ticks to display in thousands.
4. Calculate the percentage of target achievement and visually highlight it using a red-amber-green color scheme.

#### Pie chart

#### Scatter Plot

<hr><hr>